.card1{
    margin: 0 auto;
  }
  
  .golmani{
    color: white;
    text-align: center;
    padding: 70px 20%;
  }
  
  .header-igraci{
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: 700;
    color: grey;
    text-decoration: underline;
  }

  .main-img{
    background-image: url("../images/igraci.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: rgb(60, 60, 60);
    background-blend-mode: multiply;  
}

@media only screen and (min-width: 120px) and (max-width: 1024px) {
  .golmani{
    padding: 0 0;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo-link {
    margin-bottom: 20px;
  }

  .footer-text-container {
    text-align: center;
  }

  .footer-list {
    justify-content: center;
  }

  .footer-network {
    order: -1;
    margin-bottom: 20px;
  }
}
